@import url('https://fonts.googleapis.com/css?family=Nunito:400,700&display=swap');

$primary: #F56058;
$grey: #333;

*{
    margin: 0;
    padding: 0;
}

body{
    margin: 0;
    font-family: 'Nunito', 'sans-serif';
    font-size: 62.5%; /* Makes the font-size 10px */
    line-height: 100%; 
}

.container{
    width: 80%;
    margin: 0 auto;
}

header{
    background: $primary;
    padding: 1em 0;
    position: fixed; 
    width: 100%;

    a{
        color: white;
        text-decoration: none;
        padding: 0.5em;
        letter-spacing: 0.1em;

        transition: color 0.4s ease;
    }

    a.logo{
        font-weight: bold;
        user-select: none;
        cursor: default;
        padding: 0.2em;
    }

    nav{
        float: right;

        ul {
            list-style-type: none;
            margin: 0;
            display: flex;

            li a {
                padding: 1em;

                &:hover {
                    background: darken($primary, 10%)
                }
            }
        }
    }
}

@media only screen and (max-width: 827px){
    nav{
        font-size: 0.8em;
    }
}

.editLoan{
    background-color: $primary;
    border-radius: 50%;
    z-index: 10;
    font-size: 1rem;
    padding: 1em;

    position: fixed;
    bottom: 2em;
    right: 2em; 
    opacity: 80%;

    a{
        color: white;
        text-decoration: none;
    }

    a:hover{
        background: darken($primary, 10%);
        border-radius: 50%;
        padding: .9em;

    }
}

@media only screen and (max-width: 827px){
    .editLoan a{
        font-size: 0.8em;
    }
}

html, body { height: 100%; }

h1,p {
   font-family: 'Nunito', 'sans-serif';
}

h1{
    text-transform: uppercase;
    color: $grey;
}
