@import url('https://fonts.googleapis.com/css?family=Nunito:400,700&display=swap');

$primary: #F56058;

*{
    margin: 0;
    padding: 0;
}

body{
    margin: 0;
    font-family: 'Nunito', 'sans-serif';
    font-size: 62.5%; /* Makes the font-size 10px */
    line-height: 100%; 
}

.container{
    width: 80%;
    margin: 0 auto;
}

header{
    background: $primary;
    padding: 1em 0;
    position: fixed; 
    width: 100%;

    a{
        color: white;
        text-decoration: none;
        padding: 0.5em;
        letter-spacing: 0.1em;

        transition: color 0.4s ease;
    }

    a.logo{
        font-weight: bold;
        user-select: none;
        cursor: default;
        padding: 0.2em;
    }

    nav{
        float: right;

        ul {
            list-style-type: none;
            margin: 0;
            display: flex;

            li a {
                padding: 1em;

                &:hover {
                    background: darken($primary, 10%)
                }
            }
        }
    }
}

@media only screen and (max-width: 827px){
    nav{
        font-size: 0.8em;
    }
}

html, body { height: 100%; }
