$grey: #333;
$primary: #F56058;


h1{
    padding-top: 5em;
    display: flex;
    justify-content: space-around;
}

ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;

    li{
        background: rgb(238, 238, 238);
        padding: 1em;
        margin-right: 10px;
        width: 80%;
        height: 200px;
        margin-bottom: 1em;
        border-radius: 1%;
        display: flex;
        flex-direction: column;
        align-items: left;
    }
   

    p{
        margin: 0;
    }

    p.notat{
        padding-top: 1em;
        padding-bottom: 1em;
        font-size: 1rem;
        flex-grow: 1;
    }

    span{
        font-weight: bold;
        color: $grey;
        font-size: 1.1rem;
    }
    
    p.user{
        text-transform: capitalize;
        font-size: 1rem;
        flex-grow: 1;
        padding: .2em;
    }

    p.total{
        font-size: 1rem;
    }
}

button{
    display: inline-block;
    padding: 0.35em 1.2em;
    border: 0.1em solid #fff;
    margin: 0 0.3em 0.3em 0;
    border-radius: 4px;
    box-sizing: border-box;
    text-decoration: none;
    letter-spacing: 2px;
    text-align: center;
    transition: all 0.2s;
    width: 12em;
}
    button:hover {
        color: #333;
        background-color: #fff;
        outline: none;
    }

