h1{
    padding-top: 5em;
}

ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;

    li{
        background: rgb(238, 238, 238);
        padding: 1em;
        margin-right: 10px;
        width: 80%;
        height: 200px;
        margin-bottom: 1em;
        border-radius: 1%;
        display: flex;
        flex-direction: column;
        align-items: left;
    }
   

    p{
        margin: 0;
    }

    p.notat{
        padding-top: 2em;
        font-size: 1rem;
        flex-grow: 1;
    }

    span{
        font-weight: bold;
    }
    
    p.user{
        text-transform: capitalize;
        font-size: 1rem;
        flex-grow: 1;
    }

    p.total{
        font-size: 1rem;
    }
}